.risk-it-move-popup {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease-in-out; /* Add transition for smooth visibility changes */
}
