@keyframes card-highlight {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: red;
    }
    100% {
        border-color: transparent;
    }
}

.risk-it-card-selectable {
    stroke: #000000;
    cursor: pointer;
    animation: card-highlight 1s infinite;
}

/* Region size */
.risk-it-card-selectable svg.risk-it-region-display {
    width: 5em;
    height: 5em;
}

.risk-it-card-not-selectable {
    cursor: not-allowed;
}

.risk-it-card-not-selectable svg.risk-it-region-display {
    width: 3em;
    height: 3em;
}

.risk-it-card-selected {
    stroke: #00ff00;
    stroke-width: 2;
    animation: none;
}

.risk-it-card-selected svg.risk-it-region-display {
    width: 5em;
    height: 5em;
}