@import "../colors.css";

.status-bar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    width: 200px;
    height: fit-content;
}

.status-bar__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
}