.status-bar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
}

.game-status {
    margin-bottom: 0px;
}

.player-info {
    display: flex;
    flex-direction: column;
}

.player-info h3 {
    margin: 0px;
}

.player {
    margin-top: 0px;
    margin-bottom: 5px;
}