.game-info-box {
  flex: 1;
  background-color: #213547;
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  width: 100%;
}

.game-info-box__section {
  margin-bottom: 0.75rem;
}

.game-info-box__section:last-child {
  margin-bottom: 0;
}

.game-info-box__phase {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.game-info-box__heading {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0;
}

.game-info-box__troops {
  margin-left: 0.5rem;
}
