.risk-it-map-container {
    position: relative;
    margin: 1rem auto;
    width: 100%;
    height: 100%;
}

/* Style svg within the map-container */
svg.risk-it-map-container {
    stroke: #fff;
}

svg.risk-it-map-container path {
    fill: #8c8c8c;
    cursor: pointer;
    outline: none;
}

/* Define two classes for inactive and active paths. Set hover and focus for active paths */
svg.risk-it-map-container path.active {
    filter: saturate(150%);
}

svg.risk-it-map-container path.active:hover {
    filter: saturate(120%);
}

svg.risk-it-map-container path.active:focus {
    filter: drop-shadow(0 0 5px #fff);
}

svg.risk-it-map-container path.inactive {
    filter: saturate(50%);
}

/* Define 6 classes for the 6 different colors */
svg.risk-it-map-container path.risk-it-player0 {
    fill: #00ffff;
}

svg.risk-it-map-container path.risk-it-player1 {
    fill: #ff0000;
}

svg.risk-it-map-container path.risk-it-player2 {
    fill: #0000ff;
}

svg.risk-it-map-container path.risk-it-player3 {
    fill: #00ff00;
}

svg.risk-it-map-container path.risk-it-player4 {
    fill: #ff00ff;
}

svg.risk-it-map-container path.risk-it-player5 {
    fill: #ffff00;
}

/* Define the keyframes for the highlight animation */
@keyframes region-highlight {
    0% {
        stroke-width: 2; /* Normal stroke width */
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8)); /* Initial shadow */
    }
    50% {
        stroke-width: 4; /* Highlighted stroke width */
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.8)); /* Increased shadow */
    }
    100% {
        stroke-width: 2; /* Normal stroke width */
        filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8)); /* Return to initial shadow */
    }
}

/* Define a CSS class for selectable regions with pulsing animation */
svg.risk-it-map-container path.risk-it-region-selectable {
    stroke: #000000;
    cursor: pointer;
    animation: region-highlight 2s infinite; /* Adjust the animation duration and iteration count as needed */
}

svg.risk-it-map-container path.risk-it-region-not-selectable {
    /*filter: saturate(50%);*/
    cursor: not-allowed;
}